---
import Button from "../Button.astro";
import ButtonLink from "../ButtonLink.astro";
---

<div
  class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"
>
  <p class="w-full">¿Necesitas estar tranquilo con tu vehículo?</p>
  <h1 class="my-4 text-5xl font-bold leading-tight">
    ¡Te respaldamos en todo momento!
  </h1>
  <p class="leading-normal text-2xl mb-8">
    Adquiere nuestros planes y olvidate del papeleo...
  </p>
  <ButtonLink link="#plans">
    Ver planes
  </ButtonLink>
</div>
