---
import LeftCol from './LeftCol.astro';
import RightCol from './RightCol.astro';
import Wave from './Wave.astro'
import '../../styles/global.css'
---

<div id="hero" class="bg-primary pt-24 pb-24">
    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center text-zinc-900 border-0">
        <LeftCol />
        <RightCol />
    </div>
</div> 

<Wave />
