---
import LeftCol from './LeftCol.astro';
import RightCol from './RightCol.astro';
import Wave from './Wave.astro'
---

<div class="custon-yellow pt-24 pb-24">
    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center text-zinc-900 border-0">
        <LeftCol />
        <RightCol />
    </div>
</div> 

<Wave />

<style>
    .custon-yellow{
        /* background: #ffe436; */
        background:#f7e469;
    }
</style>