---
interface Props{
    type?: 'button' | 'submit' | 'reset' | undefined;
}

const { type } = Astro.props
---

<button type={type} class="inline-flex items-center px-6 py-4 bg-black border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-900 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">
    <slot />
</button>