---
---

<div
  class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
  id="nav-content"
>
  <ul class="list-reset lg:flex justify-end flex-1 items-center">
    <li class="mr-3">
      <a
        class="inline-block py-2 px-4 text-black font-bold no-underline"
        href="/">Inicio</a
      >
    </li>
    <li class="mr-3">
      <a
        class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
        href="#">Planes</a
      >
    </li>
    <li class="mr-3">
      <a
        class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
        href="/#services">Servicios</a
      >
    </li>
    <li class="mr-3">
      <a
        class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
        href="#">Contactos</a
      >
    </li>
    <li class="mr-3">
      <a
        class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
        href="#"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
          ></path>
        </svg>
      </a>
    </li>
  </ul>

  <!-- <div v-if="access.canLogin">
        <inertia-link
          v-if="$page.props.user"
          href="/dashboard"
          class="text-sm text-gray-700 underline"
        >
          Dashboard
        </inertia-link>
        <template v-else>
          <inertia-link
            v-if="access.canRegister"
            :href="route('register')"
            class="mx-auto lg:mx-0 hover:underline bg-transparent text-gray-800 font-bold mt-4 lg:mt-0 py-4 px-4 opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            Registrarse
          </inertia-link>
          <inertia-link
            :href="route('login')"
            id="navAction"
            class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-lg mt-4 lg:mt-0 py-4 px-4 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            Acceder
          </inertia-link>
        </template>
      </div> -->
</div>
