---
import TopicFooter from "./TopicFooter.astro";
import { topics } from "../../data/topicsFooter.js";
import Copyright from "./Copyright.astro";
import Logo from "../Logo.astro";
---

<footer class="bg-black text-white">
  <div class="flex">
    <div class="w-full flex flex-1 text-center justify-center">
      <div class="mt-16">
        <Logo alternative />
        <small class="pt-4">
          Adquiere nuestros planes y olvidate del papeleo
        </small>
      </div>

    </div>
    <div class="container mx-auto px-8 flex-1">
      <div class="w-full flex flex-col md:flex-row py-6 mx-auto">
        <section class="w-full pr-2">
          <p class="font-bold mb-4">Enlaces</p>
          <ul>
            <TopicFooter link="#">Inicio</TopicFooter>
            <TopicFooter link="#plans">Planes</TopicFooter>
            <TopicFooter link="#services">Servicios</TopicFooter>
          </ul>
        </section>
        <section class="w-full pr-2">
          <p class="font-bold mb-4">Redes Sociales</p>
          <ul>
            <TopicFooter link="#">Facebook</TopicFooter>
            <TopicFooter link="#">Twitter</TopicFooter>
            <TopicFooter link="#">Instagram</TopicFooter>
          </ul>
        </section>
        <section class="w-full pr-2">
          <p class="font-bold mb-4">Nosotros</p>
          <ul>
            <TopicFooter link="#">Quienes somos</TopicFooter>
            <TopicFooter link="#">Trabaja con nosotros</TopicFooter>
            <TopicFooter link="#">Blog</TopicFooter>
          </ul>
        </section>
      </div>
    </div>
  </div>

  <Copyright />
</footer>
