---
import ServiceCard from '../components/ServiceCard.astro';
interface Props {
    title?: string;
}

const { title="Services" } = Astro.props;
---

<section class="bg-transparent border-b py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <h1
            class="
                w-full
                my-2
                text-5xl
                font-bold
                leading-tight
                text-center text-black
            "
        >
            Servicios
        </h1>
        <div class="w-full mb-16 ">
            <div class="h-1 mx-aut w-full justify-center my-0 py-0">
                <p class="text-black w-full text-center my-0 py-0">
                    Te ofrecemos servicios individuales. Adaptados a tus
                    necesidades.
                </p>
            </div>
        </div>
        <!-- <service-card v-for="(service, index) in services" >
            <template #title> {{ service.title }} </template>
            <template #subtitle v-if="service.subtitle"> {{ service.subtitle }}</template>
            <template #description>
               <p v-html="service.description"></p>
            </template>
            <template #action>
                <a
                :href="service.url"
                    class="
                        mx-auto
                        lg:mx-0
                        hover:underline
                        gradient
                        bg-black
                        text-white
                        font-bold
                        rounded-lg
                        my-6
                        py-4
                        px-8
                        shadow-lg
                        focus:outline-none focus:shadow-outline
                        transform
                        transition
                        hover:scale-105
                        duration-300
                        ease-in-out
                    "
                >
                    Ver más
                </a> 
            </template>
        </service-card> -->
    </div>
</section>